
/* p.fiction {
    text-indent: 30px;
}

p.fiction::first-letter {
  font-weight: bold;
  color: red;
} */

/*p.article-style {
  font-size: large;
}
.fiction span {
  color: red;
  text-indent: 8em;
}*/
